
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #212121;
    color: #C5CAE9;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 960px;
    margin: 0 auto;
}

h1{
  text-align: center;
}

h6 {
  margin-bottom: .4rem;
  text-align: center;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

textarea {
  font-family: 'Manrope', sans-serif;
  resize: none;
  width: 100%;
  min-width: 600px;
  min-height: 400px;
  padding: .6rem;
}

.editor-container {
  margin-right: 1.4rem;
}

.preview-wrapper{
  background-color: white;
  color: black;
  width: 100%;
  min-width: 600px;
  min-height: 400px;
  padding: .6rem;
}